@import 'libs/bootstrap-reboot.min';
@import'base/variables';
@import'base/mixins';

* {
    margin: 0;
    padding: 0;
  }
  html {
    scroll-behavior: smooth;
  }
  html,
  body {
    height: 100%;
  }
  .wrapper {
    position: relative;
    min-height: 100%;
  }
  .content {
    padding-bottom: 90px;
  }
  .footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 80px;
  }

.container{
    margin:0 auto;
    max-width: 1120px;
    padding-left: 50px;
    padding-right: 50px;
}

.main-container{
    margin-top: 50px;
    display: flex;
    column-gap:30px;
}

.add{
    background: #D9D9D9;
    border-radius: 20px;
    width: 100%;
    height: 100%
}

@media (max-width:1000px){
    .container{
        padding-left: 20px;
        padding-right: 20px;
    }
}

@media (max-width:700px){
    .main-container{
        flex-direction: column;
    }
}

@media(max-width:460px){
    .main-container{
        margin-top: 26px; 
    }
}

audio {
  width: 300px;
  height: 30px;
}
audio::-webkit-media-controls,
video::-webkit-media-controls {
  width: inherit;
  height: inherit;
  position: relative;
  direction: ltr;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}
audio::-webkit-media-controls-enclosure, video::-webkit-media-controls-enclosure {
  width: 100%;
  max-width: 800px;
  height: 30px;
  flex-shrink: 0;
  bottom: 0;
  text-indent: 0;
  padding: 0;
  box-sizing: border-box;
}
video::-webkit-media-controls-enclosure {
  padding: 0px 5px 5px 5px;
  height: 35px;
  flex-shrink: 0;
}
audio::-webkit-media-controls-panel, video::-webkit-media-controls-panel {
  display: flex;
  flex-direction: row;
  align-items: center;
  /* We use flex-start here to ensure that the play button is visible even
   * if we are too small to show all controls.
   */
  justify-content: flex-start;
  -webkit-user-select: none;
  position: relative;
  width: 100%;
  z-index: 0;
  overflow: hidden;
  text-align: right;
  bottom: auto;
  height: 30px;
  background-color: white;
  border-radius: 5px;
  /* The duration is also specified in MediaControlElements.cpp and LayoutTests/media/media-controls.js */
  transition: opacity 0.3s;
}

.swiper-wrapper{
  max-height: 400px;
}


@import 'blocks/header';
@import 'blocks/radio';
@import 'blocks/promo';
@import 'blocks/news';
@import 'blocks/heading';
@import 'blocks/info';
@import 'blocks/community';
@import 'blocks/feedback';
@import 'blocks/about';
@import 'blocks/footer'


