.feedback{
    margin-top:50px;
    &__block{
        margin: 0 auto;
        background-image: url('../../img/reviews.png') ;
        background-repeat: no-repeat;
        max-width: 600px;
        width: 100%;
        background-size: contain;
    }
    &__txt{
        max-width: 313px;
        font-weight: 500;
        font-size: 14px;
        line-height: 32px;
        /* or 229% */
        text-align: center;
        color: #636066;
        margin: 0 auto;
        padding-top: 80px;
    }
    &__descr{
        display: flex;
        align-items: center;
        justify-content: center;
        align-content: center;
        flex-direction: column;
        margin-top: 50px;
        padding-bottom: 50px;
    }

}

@media(max-width:550px){
    .feedback{
        &__txt{
            padding-top: 38px;
        }
    }

}