.heading{
    &__hr{
        display:block;
        width: 50.13px;
        background-color :$main-color;
        border-radius:20%;
        height: 2px;
    }
    &__title{
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 24px;
        color: #E22949;
    }
    &__title32{
        font-weight: 700;
        font-size: 32px;
        line-height: 42px;
        color: #25202F;
        &_about{
            margin-top: 32px;
        }
    }
}