
.header{
    height: 100px;
    width: 100%;
    position: relative;
    display: block;
    background-color: $main-color;
    &__content{
        padding-top: 7px;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__social{
        display: flex;
        column-gap: 15px;
    }

    &__descr{
        font-family: 'Caveat';
        font-style: normal;
        font-weight: 400;
        font-size: 1.6vw;
        color: #FFFFFF;
    }
    &__info{
        display: flex;
        gap:38px;
        align-items: center;
    }
}

@media (min-width:1500px){
    .header{
        &__descr{
            font-size: 31px;
        }
    }
}

@media (max-width:700px){
    .header{
        &__descr{
            display: none;
        }
    }
}

@media (max-width:400px){
    .header{
        &__social{
            display: none;
        }
    }
    .tgme_widget_message_bubble {
        width: 74%;
    }
}