.news{
    margin-top: 50px;
    &__content{
        display: grid;
        grid-template-columns: 1fr 2fr;
        gap:  30px;
    }
    &__block{
        &-articles{
            display: flex;
            gap:  30px;
        }
        &-article{
            &_time{
                font-weight: 500;
                font-size: 16px;
                line-height: 21px;
                color: #000000;
                margin-top: 14px;
                margin-bottom: 8px;
            }
            h4{
                font-weight: 700;
                font-size: 20px;
                line-height: 26px;
                color: #000000;
            }

        }
        &_img{
            max-width: 253.45px;
            max-height: 350px;
        }


    }
}


@media (max-width:1100px){
    .news{
        &__content{
            grid-template-columns: 1fr;
        }
}
}
